<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css\log.css"> 
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    rel="stylesheet"
  />
    <title>Welcome</title>
</head>
<body>
    <section>
        <div class="image">
            <img src="illustration.png" alt="budget" width="600px" height="500px">


        </div>
        <div class="formulaire">
            
        <form class="login" action="/login" method="post">
            <h1>Login</h1>
            <input type="email" name="email" placeholder=" your email">
            <br>
            <input type="password" name="password" placeholder="your password"><br>
            <button type="submit" class="log_button">Log in</button><br>
            
      
        </form>
        
        <form action="/signup" method="post" class="signup">
            <h1>SignUp</h1>
            <input type="text" name="nom" placeholder=" name"><br>
            <input type="text" name="prenom" placeholder=" first name"><br>
            <input type="email" name="email" placeholder=" your email"><br>
            
            <input type="password" name="password" placeholder="your password"><br>
            <button type="submit" class="log_button">Sign up</button><br>
        </form>
        
        
    </div>
    
    </section>



</body>
</html>
