<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css\profile.css"> 
    <title>Profile</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    rel="stylesheet"
  />
</head>
<body>
 
  <div class="menu"  >
   
        <a href="C:\Users\dell\Desktop\cours\S2\web\budget app\views\Dash.html"><button class="btn_home"><i class="fas fa-home"></i></button></a>
        <button class="btn_chart"><i class="fa fa-line-chart"></i></button>        
        <a href="C:\Users\dell\Desktop\cours\S2\web\budget app\views\log.html"><button class="out"> log out</button> </a>
  </div>  
  <br>
  <h1>Account management</h1>
  <p> make changes to your email, password , name...</p>
  <br>
  <div class="info">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="  Radia"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="  Lahmar"><br><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" value="  lahmarradhia24@gmail.com"><br><br>
    <label for="pass">password:</label>
    <input type="password" id="password" name="password" value="  ......"><br><br>
    <button type="submit" class="save">Save</button><br>

</div>
  
 
  



</body>
</html>